.mamun{
    width: 100%;
    height: 400px; 
}
.project1{
    
    width: 50%;
    height: 400px;
    float: right;
    text-align: center;

}
.project2{
    
    
    width: 50%;
    height: 400px;
    float: left;
    text-align: center;
    
}
.part2{
    width: 100%;
    height: 400px;
}
.sub1{
    width: 50%;
    height: 400px;
   
    text-align: center;
}
.sub2{
    width: 50%;
    height: 400px;
 
    text-align: center;
}
.part3{
    width: 100%;
    height: 400px;
   
}
.sub3{
    width: 50%;
    height: 400px;
 
    text-align: center;
}
.sub4{
    width: 50%;
    height: 400px;
 
    text-align: center;
}


.part4{
    width: 100%;
    height: 50px;
   
    text-align: center;
}
button{
    background-color: crimson;
}
.part5{
    width: 100%;
    height: 600px;
    color: azure;
    background-color:black;
    text-align: center;
}
.part6{
    width: 100%;
    height: 400px;
    
}
.part7{
    width: 100%;
    height: 400px;
    
}
.part8{
    width: 100%;
    height: 400px;
    background-color: beige;
}
.part9{
    width: 100%;
    height: 220px;
    background-color: rgba(17, 17, 15, 0.514);
}